@import '../../app/theme';

.content-div {
  display: block;
  width: auto;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 275px;
}

.content-card {
  margin-top: 13px;
}

.content-table-title {
  font-family: Header-Font, sans-serif;
  font-size: 1.3em !important;
}

.content-table-text {
  font-family: Body-Font, sans-serif;
}
