@import '../../app/theme';

.dashboard-drawer {
  text-align: center;
}

.dashboard-logo-div {
  text-align: center;
  width: 100%;
}

.dashboard-logo {
  display: inline-block;
  width: 50%;
  margin-top: 5%;
}

.dashboard-drawer-search-title {
  font-weight: normal;
  font-family: Hero-Font, sans-serif;
  margin-top: 25%;
  margin-bottom: 10%;
}

.dashboard-drawer-persona-div {
  display: block;
  margin-bottom: 10%;
}

.dashboard-drawer-select-field {
  margin-left: auto;
  margin-right: auto;
}