@import '../app/theme';
@import 'drawer/drawer';
@import 'account/account';
@import 'content/content';


.dashboard-screen {
  display: block;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: $background-color;
}