@import 'components/noAuth/login';
@import './components/dashboard/dashboard';

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

p {
  font-family: Body-Font, sans-serif;
  color: $body-text-color
}

h1, h2, h3, h4, h5, h6 {
  font-family: Header-Font, sans-serif;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type=button]{
  -webkit-appearance: none
}

.wave > div {
  background: #9199A0;
}
