@import './components/login/login';
@import './components/dashboard/dashboard';

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

p {
  font-family: Body-Font, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Header-Font, sans-serif;
}
